<div id="centeredmenu">
   <ul>
      <% menu_items.each do |menu_item| %>
        <% if request.path == menu_item[:url] %>
          <li><a href="#" class="active"><%= menu_item[:link_name] %></a></li>
        <% else %>
          <% if menu_item.has_key?(:method) %>
            <%= content_tag("li", link_to(menu_item[:link_name], menu_item[:url], :method => menu_item[:method])) %>
          <% else %>
            <%= content_tag("li", link_to(menu_item[:link_name], menu_item[:url])) %>
          <% end %>
        <% end %>
      <% end %>
   </ul>
</div>
