
<%
menu = [
  {
    link_name: "Home",
    controller: "pages",
    action: "home",
  },
  {
    link_name: "Contact us",
    controller: "pages",
    action: "contact_us",
  },
  {
    link_name: "Create Group",
    controller: "groups",
    action: "new",
  },
  {
    link_name: "Add event",
    controller: "events",
    action: "new",
  },
]
%>

<div id="centeredmenu">
   <ul>
      <% menu.each do |menu_item| %>
        <% if params["controller"] == menu_item[:controller] and params["action"] == menu_item[:action] %>
          <li><a href="#" class="active"><%= menu_item[:link_name] %></a></li>
        <% else %>
          <li><%= link_to menu_item[:link_name], :controller => menu_item[:controller], :action => menu_item[:action] %></a></li>
        <% end %>
      <% end %>
   </ul>
</div>
