
<div id="centeredmenu">
   <ul>
      <% menu_items.each do |menu_item| %>
        <% if params["controller"] == menu_item[:controller] and params["action"] == menu_item[:action] %>
          <li><a href="#" class="active"><%= menu_item[:link_name] %></a></li>
        <% else %>
          <li><%= link_to menu_item[:link_name], :controller => menu_item[:controller], :action => menu_item[:action] %></a></li>
        <% end %>
      <% end %>
   </ul>
</div>
