

<div class="week_view">

  - <%= link_to(truncate(@event.name, length: 150), "/events/#{@event.id}") %>
  
  <p><%= truncate(@event.description, length: 150) %></p>

  <div class="date"><%= format_hours(@event.date) %> - <%= format_hours(@event.end_date) %></div>

</div>

<br />