

<div class="row">
  <div class="span2">
  </div>
  <div class="span8">
    <h2>Free Food Events for <%= @date_group %></h2><br />
    <%= menu(
      [
        {
          link_name: "view by month",
          controller: "pages",
          action: "view_by_month",
        },
        {
          link_name: "view by week",
          controller: "pages",
          action: "view_by_week",
        },
      ])
    %>
  </div>
  <div class="span2">
  </div>
</div>