<div class="row">
  <div class="span6">
    <div class="hero-unit">
      <h2>Featured group: <%= @featured_group.name %></h2>
      <p>
        <%= @featured_group.description %>
      </p>
      <p>
        <strong>next event:</strong> <%= @featured_group.current_main_event %>
      </p>
    </div>
  </div>
  <div class="span6">
    <%= render 'pages/events' %>
  </div>
</div>