
<div class="blog_post">

<table width="100%">
  <tr>
    <td align="left">
      <h1><%= title %></h1>
    </td>
    <td align="right">
      <span class="date"><%= date %></span>&nbsp;&nbsp;
      By:&nbsp;<span class="author"><%= author %></span>
    </td>
  </tr>
</table>

<br />

<%= raw body %>

</div>

<br />