.calendar {
    td {
        width: 200px;
        height: 170px;
        border: 1px solid black;
        span {
            float: right;
        }
        .events {
            height:170px;
            overflow: auto;
        }
    }
}