@import "config";

.header {
  background-color: $maroon;
  h1 {
    font-size: 80px;
    font-weight: bolder;
    color: $gold;
  }
}

.top_menu {
  background-color: $gold;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding: 4px;
}

.viewing_mode_description h2 {
  color: $gold;
}

.promotion_message {
  a {
    color: yellow;
  }
}