@import "config";

.header {
  background-color: $maroon;
}

.top_menu {
  background-color: $gold;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding: 4px;
}

.viewing_mode_description h2 {
  color: $gold;
}