<div class="footer">
  <%= link_to "Campus groups sign in", "/organizations/sign_in" unless organization_signed_in? %><hr />
  <p>Copyright &copy; 2012 free food umn</p>
  <p>Contact Us: freefoodumn.com@gmail.com</p>
</div>