<div class="footer">
  <%= link_to "Campus groups sign in", "/organizations/sign_in" unless organization_signed_in? %>&nbsp;&nbsp;
  <%= link_to "Contact Us", "#", :id => "opener" %>
  <hr />
  <p>Copyright &copy; 2012 free food umn</p>

	<script type="text/javascript">
	$(document).ready(function() {
		var $dialog = $('<div></div>')
			.html('freefoodumn.com@gmail.com<br /><br />210 Delaware Street SE, Room W116, Minneapolis, MN, 55455<br /><br />507-219-1944')
			.dialog({
				autoOpen: false,
        draggable: false,
        resizeable: false,
				title: 'Contact Us',
			});

		$('#opener').click(function() {
			$dialog.dialog('open');
			// prevent the default action, e.g., following a link
			return false;
		});
	});
	</script>

</div>

