<div class="row">
  <div class="span4">
    <%= link_to image_tag("logo.png"), root_path %>
    <%= render "shared/menu" %>
  </div>
  <div class="span8">
    <%= render 'pages/featured_group' %>
  </div>
</div>