<div class="top_menu">

  <%=
    menu_links = [
      {
        link_name: "Home",
        url: root_path,
        regex: /\/(view_by_week|view_by_month|month).*/,
      },
      {
        link_name: "Add event",
        url: "/events/new",
      },
    ]
    if admin_signed_in?
      menu_links += [
        {
          link_name: "Admin signout",
          url: "/admins/signout",
        },
        {
          link_name: "Admin",
          url: "/admin",
        }
      ]
    end
    if organization_signed_in?
      menu_links += [
        {
          link_name: "Sign out",
          url: "/organizations/signout",
        },
        {
          link_name: "Edit organization details",
          url: "/organizations/edit",
        }
      ]
    end
    menu_with_link(menu_links)
  %>

</div>
